

.grid-container{
    display: grid;
   grid-template-columns: auto auto auto auto auto;
    background-color: #2196F3;
    gap: 20px;
    padding: 10px;

}
.grid-container > div{
    background-color: aqua;
    text-align: center;
    padding: 20px;
}
.item1{
    grid-column-start: 1;
    grid-column-end: 6;
}
.item2{
    grid-column-start: 1;
    grid-column-end: 3;
}
.item3{
    grid-column-start: 3;
    grid-column-end: 5;
}
.item5{
    grid-column-start: 1;
    grid-column-end: 6;
}